.ContainerSectionOne{
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -5;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image:url(../../public/images/PNG/background.png);
    background-repeat:no-repeat;
    background-position:cover;
    
    .containerText{
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1{
           font-size: 58px;
           font-weight: 700;
           color: var(--white);
           
           margin-left: 4rem;
           max-width: 85%;
        }
        span{
          margin-top: 0.7rem;
          margin-left: 2.2rem;
          position: relative;
          top: 4px;
          color: var(--white);
         
        }
        .containerBtm{
          padding-left: 4.5rem;
         
        }
        
    }

}