//////sectionOne/////////////////

.sectionOne {
    height: 50vh;
    background: rgb(11, 13, 38);
    background: linear-gradient(0deg, rgba(11, 13, 38, 1) 0%, rgba(39, 27, 91, 1) 0%, rgba(171, 121, 255, 1) 55%, rgba(254, 146, 255, 1) 79%, rgba(242, 242, 242, 1) 100%);
}

.containerText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 62px;
        margin-bottom: 2rem;
        color: var(--white);
        font-weight: 500;
    }

    span {
        color: var(--white);
    }
}


////////////-----------SectionTwo----------------////////////

.sectionTwo {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;


    .containerUs {
        grid-area: 1 / 2 / 2 / 12;


        margin-top: 6.5rem;
        margin-bottom: 4rem;
        border-radius: 5px;
        display: flex;
        box-shadow: 0px 8px 17px -8px #2E1F6B;
        transition: 0.3s;

        &:hover {
            box-shadow: 0px 12px 23px -9px #2E1F6B;
        }


        .containerImgTwo {
            max-width: 40%;
            height: 100%;

            img {
                border-radius: 2px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .containerTextTwo {
            width: 50%;
            margin-left: 4rem;
            margin-right: 1rem;

            span {
                color: var(--gray-850);
                font-weight: 500;
            }

            h2 {
                color: #141135d4;
                font-size: 37px;
                margin-top: 1rem;
                margin-bottom: 1rem;
            }

            p {
                color: var(--gray-700);
                font-weight: 500;
                margin-bottom: 1rem;
            }
        }
    }
}

/////////---------sectionTree---------------------///////////////////@at-root

.sectionTree {
    margin-top: 4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--gray-100);
}

////////////--------------sectionFour------------------/////////////////////


.sectionFour {
    height: 700px;
    border-top: 6px solid transparent;
    border-image: linear-gradient(270deg, rgba(11, 13, 38, 1) 0%, rgba(39, 27, 91, 1) 0%, rgba(171, 121, 255, 1) 26%, rgba(254, 146, 255, 1) 50%, rgba(242, 242, 242, 1) 50%);
    border-image-slice: 1;
    width: 100%;
    margin-top: 4rem;

    .titleFour {

        width: 100%;
        display: flex;
        justify-content: center;

        h1 {
            font-size: 37px;
            color: #141135d4;
            padding-top: 2rem;
            padding-left: 8rem;
            margin-bottom: 1rem;
        }
    }
}

////////////--------------sectionFour------------------/////////////////////

.sectionFive {
    width: 100%;
    height: 400px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgba(11, 13, 38, 1) 0%, rgba(39, 27, 91, 1) 0%, rgba(171, 121, 255, 1) 39%, rgba(254, 146, 255, 1) 100%, rgba(242, 242, 242, 1) 100%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .containerTextFive {
        grid-area: 1 / 3 / 2 / 11;
        border: 3px solid var(--white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 45px;
            font-weight: 500;
            color: var(--white);
            margin-bottom: 1rem;
        }
        span{
            color: var(--white);
         
        }
        button{
            background: #2E1F6B;
           padding: 0.7rem 2rem 0.7rem 2rem;
            margin-top: 2rem;
        }
    }
}