.containerFooter{
    height: 400px;
    background: var(--gray-100);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .contentTop{
        grid-area: 1 / 2 / 2 / 12;
    }
    .contentBotton{
        grid-area: 2 / 2 / 3 / 12;
    }
}