.btnAbout{
  width: 300px;
  padding: 1rem;
  background:#ffffff;
  color: var(--blue-900);
  border: 3px solid transparent;
  border-image:linear-gradient(90deg, rgba(11,13,38,1) 0%, rgba(39,27,91,1) 0%, rgba(171,121,255,1) 21%, rgba(254,146,255,1) 34%, rgba(233,100,79,1) 58%, rgba(240,231,54,1) 100%);

  border-image-slice: 2;
   
  

  
         
  font-size: 17px;
  font-weight: 500;
 
  border-radius: 1rem;
  transition: 0.3s;

  &:hover{
    background: var(--pink-500);
  }
  
}