.btnAbout{
  width: 300px;
  padding: 1rem;
  background: var(--pink-500)
  color: var(--blue-900);
         
  font-size: 17px;
  font-weight: 500;
  border: none;
  border-radius: 1rem;
  transition: 0.3s;

  &:hover{
    background: var(--pink-500);
  }
  
}