.headerContainer{
    background: var(--blue-900);
    height: 100px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
     grid-column-gap: 20px;
    grid-row-gap: 0px;

    .containerLogo{
        grid-area: 1 / 1 / 2 / 6;
    }
    .containerNav{
        grid-area: 1 / 6 / 2 / 13;
        background-color: aliceblue;
    }
}