.headerContainer {
  background: #100F2E;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  border-bottom: 2px solid var(--pink-300);


  border-image-slice: 1;
  width: 100%;




  .containerLogo {
    grid-area: 1 / 1 / 2 / 6;
    display: flex;
    align-items: center;
    justify-content: center;

    img {

      max-width: 130px;

    }


  }

  .containerNav {
    grid-area: 1 / 6 / 2 / 13;

    nav {
      color: var(--white);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .listNav {
        display: flex;
        list-style-type: none;
        width: 100%;
        align-items: center;
        justify-content: center;

        li:first-child {
          margin-left: 0;
        }

        li {
          margin-left: 4rem;

          .dropDown {
            background: var(--gray-100);
            color: var(--blue-900);  
            position: absolute;
            width: 17rem;
            font-size: 14px;
            border-width: 0px;
            border-style: solid;
            
            li{
              margin: opx;
              height: 30px;
              border: 0px;
              font-size: 100%;
              font-style: inherit;
              font-weight: inherit;
              vertical-align: baseline;
              background: transparent;

              &:hover{
                background: var(--gray-300);
              }


            }
          }
        }

      }


      a {

        height: 60px;
        display: flex;
        align-items: center;
        border-top: 3px solid transparent;
        transition: 0.3s;

        &:hover {
          border-top: 3px solid var(--white);

        }

        &.active {
          border-top: 3px solid var(--pink-300);
        }


      }
    }
  }
}

.scale-up-ver-top {
  -webkit-animation: scale-up-ver-top 1.5s;
  animation: scale-up-ver-top 1.5s;

}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 0;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}