.containerTeam{
   height: 100%;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(2, 1fr);
   grid-column-gap: 2rem;
   grid-row-gap: 2rem;

   .ContentOne{
       grid-area: 1 / 3 / 2 / 7;
       background: url(/images/team1.jpg);
       background-repeat: no-repeat;
       background-size: cover;
   }
     
   .ContentTwo{
      grid-area: 1 / 7 / 2 / 11;
      background: url(/images/team1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
   }
   .containerTree{
      grid-area: 2 / 5 / 3 / 9;
      background: url(/images/team1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
   }
   
}