
.title{
    
    h1{
        font-size: 37px;
        color:#141135d4;
        margin: 1.5rem;
    }
}

.containerCarosel{
    display: flex;
    justify-content: center;
}

.caroselGrid{
display: flex;
justify-content: center;
transition-duration: 0.5s !important;
.card{
    width: 300px;
    height: 400px;
    background: var(--gray-850);
    margin: 40px;
}

}