
.title{
    border-top: 6px solid transparent;
    border-image: linear-gradient(90deg, rgba(11,13,38,1) 0%, rgba(39,27,91,1) 0%, rgba(171,121,255,1) 26%, rgba(254,146,255,1) 50%, rgba(242,242,242,1) 50%);
    border-image-slice: 1;
    width: 100%;
    h1{
        font-size: 37px;
        color:#141135d4;
        padding-top: 2rem;
        padding-left: 3rem;
        margin-bottom: 2rem;
    }
}

.containerCarosel{
    display: flex;
    justify-content: center;
}

.caroselGrid{
display: flex;
justify-content: center;
transition-duration: 0.5s !important;
.card{
    width: 300px;
    height: 400px;
    background: var(--gray-850);
    margin: 40px;
}

}