.containerCards{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    .containerText{
        grid-area: 1 / 1 / 2 / 13;
        h2{
            margin-top: 2rem;
            text-align: center;
           
        }
    }
     .contentcards{
        grid-area: 2 / 3 / 3 / 11;
        display: flex; 
        justify-content: center;

        .cards{
        width: 370px;
        height: 460px;
        background-color: aqua;
        margin-left: 20px;

        &:first-child{
            margin-left: 0;
        }
     }
     }
}