.sectionOne{
    height: 60vh;
    width: 100%;
    

   
}
 .backgrundWebSites{

        background: url(../../../public/images/products/webSites.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
       
}