//-------------------------------------------------------------------------------------------------------
// SECTION ONE
//-------------------------------------------------------------------------------------------------------

.sectionOne {
  height: 60vh;
  width: 100%;
  display: flex;

  .containerTextOne {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 73px;
      color: var(--white);
    }
    span {
      color: var(--white);
    }
  }
}
.backgrundWebSites {
  background: url(../../../public/images/products/webSites2.jpg);
  background-repeat: no-repeat;
  background-position: 100% 60%;
}

//-------------------------------------------------------------------------------------------------------
// SECTION TWO
//-------------------------------------------------------------------------------------------------------

.sectionTwo {
 
  .containerTextTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    h2 {
      display: flex;
      font-size: 32px;
      font-weight: 700;
      border-bottom: 5px solid var(--pink-500);
    }
    div {
      margin-top: 2rem;
      text-align: center;
      max-width: 65%;
    }
  }

  .containerForm {
    height: 625.36px;
    background: url(../../../public/images/SVG/forma1.svg);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    .containerBecause{
        grid-area: 1 / 3 / 2 / 11;
        background-color: aqua;
    }
  }
}
