.sectionOne{
    height: 60vh;
    width: 100%;
    

   
}
 .backgrundWebSites{

        background: url(../../../public/images/products/webSites.jpg);
        background-size: cover;
        h1{
            color: red;
        }
    }